.headerDiv{
    width: auto;
    height: 50px;
    background-color: blue;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo img {
    padding-left: 200px;
    padding-top: 4px;
    width: 40px;
    height: 40px;
}

.logo-text{
    font-size: 2rem;
    font-weight:600;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: white;
}