.headerDiv{
    width: auto;
    height: 50px;
    background-color: blue;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.logo img {
    padding-left: 200px;
    padding-top: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.logo-text{
    font-size: 2rem;
    font-weight:600;
    cursor: pointer;
    color: azure;
    overflow: hidden;
    font-family: lobster;
    
}

.hamburger-menu {
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hamburger-menu span {
    width: 25px;
    height: 2px;
    background: white;
}

@media screen and (max-width:510px) {
    .logo-text {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}
