*{
  margin: 0;
  padding: 0;
  gap: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-box {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: popup 0.3s ease;
}
.modal-box input {
  padding: 10px;
  font-size: 1rem;
}

.login-btn {
  padding: 10px;
  background: #2e2f5e;
  color: white;
  border: none;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}
@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
