.gemstone-banner-div img{
width: 100%;
cursor: pointer;
padding-top: 100px;
padding-bottom: 25px;
}



.gemstone-about{  
    display: flex;
    justify-content: space-around;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 40px;
    gap: 20px;

}

.gemstone-about img{
    width: 300px;
    
}

.gu-heading{
    font-size: 3.5rem;
    padding-bottom: 10px;
}

.gu-para{
font-family: Georgia, "Times New Roman", Times, serif;

}

.gem-products-heading{
    padding-top: 20px;
    text-align: center;
    
}

.gem-products-heading p {
    
    font-size: 4rem;
    background: linear-gradient(
    90deg,
    #7a5c1e,
    #d4af37,
    #d44904,
    #d4af37,
    #f69001
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: goldShine 5s linear infinite;
}

@keyframes goldShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.gem-products{
    padding-bottom: 30px;
    margin-left : 150px;
    font-weight: 500;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;


    
}

.product-image img{

    width: 300px;        /* adjust to your need */
    height: 200px;       /* controls how much gets cropped */
    object-fit: cover;   /* crop */
    object-position: 80% 30% ; /* keep center part */
    
}

.product-image img:hover{
    cursor: pointer;
    transform: translate(10px);

}

.product-name p{
    
    font-size: 1.5rem; 
}

.product-name{
    width: 280px;
    align-items: center;
    text-align: center;
}

.rating{
    width: 280px;
    text-align: center;
    
}

.rating p{
    font-size:1rem ;
}

/* .product{
    cursor: pointer;
} */
